
@media (max-width: 575.98px) {
    .second-section {
        padding: 0px;
        background-color: #d0e3da;
    }
    .second-section .text {
        padding: 15px;
    }
    .pricing {
        padding: 0px;
        margin: 10px;

    }
    .bg-light button {
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .pricing .pricing-table{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .website-security {

        padding: 0px;
        background-color: #BFE7DE;
    }
    .website-security .image {
        padding-top: 30px;
        text-align: left!important;
    }
    .website-security-2 .text {
        padding: 10px;
    }
    .money {
        padding-top: 0px;
        padding-bottom: 80px;
        color: #0a0a53;
    }
    .money .inner-box {
        padding: 30px;
        margin: 0px;
        text-align: center;
        border-radius: 30px;
        background: #d0e3da;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }
    footer {
        padding: 20px;
        background-color: #050528;
        padding-bottom: 50px;
    }
    footer .col-md-6 .btn-primary {
        position: absolute;
        padding: 5px 30px;
        transform: translate(1px, -37px);
        left: 50.5%;
    }
    footer #socialicon .social-icon {
        padding-top: 20px;
        padding-left: 70px;
        padding-bottom: 30px;
    }
}


@media (max-width: 767.98px) { }


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) { }


@media (max-width: 1399.98px) { }